.stats-categoria,
.stats-cantidad {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}
.stats-categoria h6 {
  font-size: 0.8rem;
  margin-top: 0.4rem;
  font-weight: 700;
  color: var(--light-text-blue);
}
.stats-cantidad h3 {
  font-size: 2rem;
}
.stats-cantidad p {
  font-size: 0.7rem;
  font-weight: 700;
  margin-top: 0.7rem;
  margin-left: 0.3rem;
}
.up {
  color: var(--lime-green);
}
.down {
  color: var(--bright-red);
}
